<h1>My Todos</h1>

<app-tabs (selectedTab)="onSwitchTab($event)" />

@if(activeTab === "todo"){
<app-add-form (add)="onAddTodo($event)" />

<app-search-form (searchedText)="onSearchInput($event)" />
}



@for(todo of filteredTodos; track todo.id){
    @if(todo.status === activeTab){
        <app-todo-item 
            [id]="todo.id" 
            [title]="todo.title" 
            [description]="todo.description" 
            [status]="todo.status"
            [priority]="todo.priority" 
            (complete)="onCompleteTodo($event)" 
            (delete)="onDeleteTodo($event)"
            (togglePriority)="onTogglePriority($event)">
        </app-todo-item>
    }
    

}
