.todo-item {
    background-color: #3a3a3a;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.todo-title {
    color: #18FFFF;
    font-weight: bold;
    margin: 0;
}
.todo-title.completed {
    text-decoration: line-through;
}

.todo-desc {
    margin: 5px 0 0 0;
    color: #ccc;
    max-width: 75%;
}
.todo-desc.completed {
    text-decoration: line-through;
    
}


.icons{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
    
}

.icons i {
    margin-left: 15px;
    cursor: pointer;
    font-size: 18px;
    padding: 15px;
    
}

.icons i:hover {
    text-shadow: 0 0 8px rgba(255, 215, 0, 0.8);
    transform: scale(1.1);
    transition: all 0.2s ease;
  }

.icons i.fa-check{
    color: #69F0AE;
}

.icons i.fa-trash {
    color: #FF5252;
}

.icons i.priority-icon {
    color: gray;
  }
  
.icons i.priority-icon.active {
    color: gold;
}

@media (max-width: 700px) {
    .todo-item {
        flex-direction: column;
        align-items: flex-start;
    }
    .todo-title {
        font-size: 18px;
    }
    .todo-desc {
        font-size: 14px;
    }
}