html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #F5F5F5;
  overflow-y: auto;  /* allow vertical scrolling */
  overflow-x: hidden; /* prevent sideways scroll */
}

.snackbar-success, .snackbar-error{
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
}
