.full-width {
    width: 100%;
    margin-bottom: 16px;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
    border-radius: 6px;
}


::ng-deep .mat-form-field-appearance-fill .mat-form-field-outline {
    color: black !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label{
    color: grey !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: black !important;
}
    
